/* CSS RESET - do not remove */
/* Reset default browser styles and provide a consistent starting point */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: lighter;
}

/*  Set the font */
body {
  font-family: "Helvetica", sans-serif;
}

/* STYLES */
/* Write your CSS below */
.hero-section {
  background-image: url('/apple-pie/images/apple-pie.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 650px; 
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.hero-title {
  font-size: 12.5rem;
  font-weight: 500;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
}

.flex-column-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.align-start {
  align-items: start;
}

.recipe-content {
  max-width: 900px;
  margin: 80px auto;
  padding: 20px;
  color: #333;
}

.recipe-intro {
  font-size: 1.5rem;
}

.recipe-info-img {
  max-width: 800px;
}

.cooking-info-img {
  max-width: 500px;
  align-self: center;
}

.section-title {
  font-weight: 500;
  font-size: 1.5rem;
}

.ingredients-list {
  list-style: none;
  padding-left: 20px;
  margin-bottom: 20px;
  font-size: 1.3rem;
}

.ingredients-list li::before {
  content: "- ";
  margin-right: 5px;
}

.devide-line {
  margin: 20px 0;
}

.directions-list {
  counter-reset: listcounter;
  list-style: none;
  padding-left: 20px;
  margin-bottom: 20px;
  font-size: 1.3rem;
}

.directions-list li  {
  counter-increment: listcounter;
}

.directions-list li::before {
  content: counter(listcounter) ") ";
}